---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-screen w-screen flex flex-col items-center">
		<section class="w-full h-full flex flex-col items-center justify-center">
			<nav class="w-[90%] h-[10vh] flex flex-row flex-nowrap justify-between items-center text-white text-base font-medium">
				<h2 class="font-black text-2xl uppercase">Maquillajes</h2>
				<ul class="flex flex-row justify-around items-center flex-nowrap gap-9 font-semibold">
					<li class="hover:bg-white hover:text-pink-500 hover:rounded-xl px-4 py-1">Inicio</li>
					<li class="hover:bg-white hover:text-pink-500 hover:rounded-xl px-4 py-1">Productos</li>
					<li class="hover:bg-white hover:text-pink-500 hover:rounded-xl px-4 py-1">Quienes somos</li>
					<li class="hover:bg-white hover:text-pink-500 hover:rounded-xl px-4 py-1">Contactanos</li>
				</ul>
				<button class="py-1 px-6 text-sm font-medium uppercase rounded-full bg-white text-pink-500 hover:scale-110">Login</button>
			</nav>

			<section class="w-[90%] h-full flex flex-row flex-nowrap  gap-4">
				<article class="w-2/4 flex flex-col justify-center items-start">
					<h2 class="text-white text-9xl font-black">Brilla con Confianza</h2>
					<p class="text-white text-2xl font-medium w-[80%]">Cosméticos de última generación para resaltar tu belleza natural.
						 ¡Tu mejor versión está a solo un clic de distancia!</p>
				</article>
				<article class="flex overflow-hidden">
					<img src="https://s3-web-page-bucket.s3.amazonaws.com/Images/maquillaje.jpg" alt="imagen1" class="w-[60%] h-[60%] rounded-xl z-10">
					<img src="https://s3-web-page-bucket.s3.amazonaws.com/Images/maquillaje2.jpg" alt="imagen1" class="w-[60%] h-[60%] rounded-xl -translate-x-[9vw] translate-y-[30vh] z-1">
				</article>

			</section>
		</section>
	</main>
</Layout>
